@charset "UTF-8";

body {
  background-color: #2c1ed0;
}

.container {
  /* min-height: 100vh; */
  padding: 2%;

  display: flex;
  /* align-items: center; */
  justify-content: center;
}

.sub-container {
  background-color: #fff;
  max-width: 560px;
  padding: 2.4rem 1rem;
  border-radius: 1.2rem;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.456);
}

header {
  margin-bottom: 1.8rem;
}

.main-heading {
  color: rgb(58, 0, 112);
  font-size: 3.2rem;
}

.content {
  /* padding: 0 0.5rem; */

  font-size: 1.8rem;
  /* text-indent: 1rem; */
  line-height: 1.4;
}

.content,
iframe {
  margin-bottom: 1.6rem;
}

iframe {
  width: 100%;
  height: 30.44rem;
}

.prev-btn {
  display: inline-flex;
  align-items: center;

  padding: 1.2rem;

  transition: transform 0.5s;
}

.prev-btn:hover,
.prev-btn:active {
  transform: translateX(-5px);
}

img {
  display: inline-block;
  width: 3.6rem;
}
