@charset "UTF-8";

.container {
  min-height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
}

.center-container {
  background-color: #fff;
  max-width: 500px;
  padding: 1rem;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.456);
}
